:root{
  --primary-color: #c2185b;
  --primary-color-variation: #fa5788;
  --secondary-color: #4a148c;
  --secondary-color-variation: #7c43bd;
  --background-color: #ffffff;
  --surface-color: #ffffff;
  --border-color: #333333;
  --dark-text: #333333;
  --light-text: #ffffff;
}
*{
    margin: 0;
    padding: 0;

}
html{
  font-family: 'Roboto', sans-serif;
  font-size: 20px; 
  font-weight: 300;
}

main{
  overflow-x: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

a {
    text-decoration: none;
    color: #000;
  }
  a:hover {
    text-decoration: underline;
  }



